<!-- app/views/invites/show.html.erb -->
<div class="onboarding-bg"></div>

<div class="onboarding-content">
    <div class="info-card-images">
      <div class="info-card-icon" style="background-image: url('<%= image_path("apps/workplace.png") %>')"></div>

      <div class="info-card-icon-connect">
        <div class="info-card-icon-connect-dot-small"></div>
        <div class="info-card-icon-connect-dot-large"></div>
        <div class="info-card-icon-connect-dot-small"></div>
      </div>

      <div
        class="info-card-icon"
        style="background-image: url('<%= image_path("apps/microsoft_teams.png") %>')">
      </div>
    </div>

    <div class="info-card-header">
       Approve Workplace.io for Microsoft Teams
    </div>

    <div class="info-card-content">

      <% if @workspace %>
        <div class="info-card-row">
          <div class="info-card-row-label">A user has requested to connect Workplace.io to the workspace</div>
          <div class="info-card-row-value"><strong><%= @workspace.name %></strong></div>
        </div>
      <% end %>

      <% if @requester %>
        <div class="info-card-row">
          <div class="info-card-row-label">Requested by: <strong><%= @requester.email %></strong></div>
        </div>
      <% end %>

      <div class="info-card-row">
        <div class="info-card-row-value">
          Approving this app allows Workplace.io to read selected Teams messages and
          channel metadata for culture analytics. You’ll see a full permission list on
          the Microsoft approval screen.
        </div>
      </div>

      <div class="info-card-row">
        <div class="info-card-row-value">
          To proceed, click the button below. You’ll be redirected to Microsoft to
          review and approve the requested permissions for your organization.
        </div>
      </div>



        <div class="info-card-state">
          <div class="info-card-actions">
            <%= link_to "Continue to Microsoft for approval",
                          @ms_admin_consent_url,
                          class: "info-card-button-primary" %>
          </div>
        </div>

    </div>
</div>
