<!DOCTYPE html>
<html data-theme="<%= @chat_primary_layout ? 'light' : 'dark' %>">
  <%= render "layouts/header"%>
  <body data-turbo="false" class="<%= 'body--clara-home' if @chat_primary_layout %>">
    <% if (@onboarding || devise_controller?) && !(controller_name == 'registrations' && action_name == 'edit') %>
      <div class="<%= @onboarding ? 'onboarding' : 'devise' %>-container">
        <%= yield %>
      </div>
    <% else %>
      <% layout_chat_open = @show_right_panel && !@show_integration_modal && right_rail_visible? %>
      <div class="layout nav-full <%= layout_chat_open ? 'chat-open' : 'chat-closed' %> <%= 'layout--clara-home' if @chat_primary_layout %>">
        <%= render "layouts/navigation" %>
        <%= render "shared/masquerade_banner" %>

        <%= render "layouts/main" %>

        <%= render "layouts/right_panel"%>
      </div>
    <% end %>
    <%= render "layouts/notifications"%>
    <%= render "layouts/js" %>
  </body>
</html>
